*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Quicksand", serif;
}
html{
    font-size: 65.5%; /*manejar rem*/
}
:root{
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;

    --green: #DDEB9D;
    --darkGreen: #A0C878;
    --blue: #27667B;
    --darkBlue: #143D60;

    --primary-color:#003476;
    --secondary-color:#b4d2f7;
    --header-size: 4rem;
    --font: 1.8rem;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5{
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.c1{
    background: #c7c7c7;
}
.c2{
    background: #b4d2f7;
}
.c3{
    background: #acd9b2;
}
.c4{
    background: #A0C878;
}
.c5{
    background: #27667B;
}

/*@media (min-width: 600px){
    .c2, .c3, .c4{
        width: 50%;
    } 
}*/

/*@media (min-width: 800px){
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1{
        width: 60%;
    }
    .c2{
        width: 40%;
    }
    .c3, .c4{
        width: 33%;
    } 
    .c5{
        width: 34%;
    }
}*/