@charset "UTF-8";
/*---------------------------------------------*/
/*---------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffe97c;
}

.nav-bar {
  height: 150px;
  font-size: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el nav en dos columnas iguales */
  grid-template-rows: 1fr;
  padding: 20px 20px;
  background-color: #ffe97c;
  /*border: #e55627 1px solid;*/
  align-items: center;
}
.nav-bar h1 {
  font-size: 5rem;
  color: #e55627;
  justify-self: start;
  font-family: "Lilita One", sans-serif;
  text-shadow: 2px 2px 0px #cd2126;
}
.nav-bar .container {
  width: 200px;
  height: 200px;
  position: absolute;
  scale: 0.5;
  justify-self: end;
}
.nav-bar .dog {
  width: 162.5px;
  height: 62.5px;
  background-color: #ee9728;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: calc(50% - 5px);
  border-radius: 0 37.5px 0 62.5px;
}
.nav-bar .dog-bottom {
  position: absolute;
  width: 162.5px;
  height: 72.5px;
  background-color: color-body-neck-frotLegs-face-ear;
  transform: translate(-50%, -50%);
  top: calc(50% + 12.5px);
  left: calc(50% - 5px);
  border-radius: 0 37.5px 0 62.5px;
}
.nav-bar .leg-1, .nav-bar .leg-3 {
  width: 25px;
  height: 34.3px;
  position: absolute;
  border-radius: 0 0 0 9.3px;
}
.nav-bar .leg-1 {
  /*Pierna delantera atrás*/
  top: 123.5px;
  left: 50px;
  background-color: #e55627;
}
.nav-bar .leg-3 {
  background-color: #ee9728;
  top: 56.2px;
  left: 50px;
}
.nav-bar .leg-1:before, .nav-bar .leg-1:after {
  /*pie delantera atras*/
  position: absolute;
  content: "";
  background-color: #e55627;
}
.nav-bar .leg-3:before, .nav-bar .leg-3:after {
  position: absolute;
  content: "";
  background-color: #ee9728;
}
.nav-bar .leg-1:before, .nav-bar .leg-3:before {
  height: 3.7px;
  width: 15px;
  right: 0;
  bottom: -3.1px;
}
.nav-bar .leg-1:after, .nav-bar .leg-3:after {
  height: 12.5px;
  width: 25px;
  right: 0;
  bottom: -15px;
  border-radius: 12.5px 0 0 0;
}
.nav-bar .leg-2, .nav-bar .leg-4 {
  width: 37.5px;
  height: 34.3px;
  position: absolute;
  border-radius: 0 0 0 21.8px;
}
.nav-bar .leg-2 {
  /*pierna trasera atras*/
  background-color: #e55627;
  left: 125px;
  top: 123.5px;
}
.nav-bar .leg-4 {
  background-color: #ee9728;
  left: 125px;
  top: 56.2px;
}
.nav-bar .leg-4:before, .nav-bar .leg-4:after {
  background-color: #ee9728;
  position: absolute;
  content: "";
}
.nav-bar .leg-2:before, .nav-bar .leg-2:after {
  /*pie delantera atras*/
  background-color: #e55627;
  position: absolute;
  content: "";
}
.nav-bar .leg-2:before, .nav-bar .leg-4:before {
  height: 3.7px;
  width: 15.6px;
  right: 0;
  bottom: -3.1px;
}
.nav-bar .leg-2:after, .nav-bar .leg-4:after {
  height: 12.5px;
  width: 37.5px;
  right: 0;
  bottom: -15px;
  border-radius: 12.5px 0 0 0;
}
.nav-bar .tail {
  width: 12.5px;
  height: 75px;
  background-color: #e77d21;
  position: absolute;
  left: 163px;
  top: 30px;
  border-radius: 12.5px 0 0 0;
}
.nav-bar .neck {
  width: 62.5px;
  height: 19px;
  background-color: #ee9728;
  position: absolute;
  top: -18.7px;
}
.nav-bar .neck:before {
  position: absolute;
  content: "";
  width: 68.7px;
  height: 6.2px;
  background-color: #5184bf;
  border: 3.7px solid #2e5296;
  left: -6.2px;
  top: 6.2px;
}
.nav-bar .face {
  background-color: #ee9728;
  width: 100px;
  height: 43.7px;
  position: absolute;
  left: -37.5px;
  bottom: 78.1px;
  border-radius: 0 0 0 43.7px;
}
.nav-bar .face:before {
  position: absolute;
  content: "";
  width: 62.5px;
  height: 31.2px;
  background-color: #cd2126;
  border-radius: 0 0 31.2px 31.2px;
  right: 0;
}
.nav-bar .face:after {
  /*nose*/
  position: absolute;
  content: "";
  height: 9.3px;
  width: 18.7px;
  background-color: #000000;
  border-radius: 0 0 9.3px 9.3px;
  left: -4.3px;
}
.nav-bar .ear, .nav-bar .ear:after {
  position: absolute;
  width: 15.6px;
  height: 25px;
  border-radius: 15.6px 0 0 0;
}
.nav-bar .ear {
  background-color: #ee9728;
  bottom: 122px;
  right: 112px;
}
.nav-bar .ear:after {
  content: "";
  background-color: #cd2126;
  right: -12px;
}
.nav-bar .ear:before {
  /*eye*/
  position: absolute;
  content: "";
  height: 6.2px;
  width: 6.2px;
  background-color: #000000;
  border-radius: 50%;
  top: 31.2px;
  left: -12.5px;
}
.nav-bar .grass {
  width: 200px;
  height: 30px;
  background-color: #55bf51;
  position: absolute;
  border-radius: 50px 50px 0 0;
  bottom: 0;
}

.main-section {
  justify-self: center;
  width: 95vw;
  border-top: #cd2126 2px solid;
  display: flex;
  flex-direction: column;
}

.first-article {
  border: 1px solid red;
  height: 700px;
  color: #7C6A0A;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.first-article .impact-section {
  /*display: flex;
  flex-direction: column;*/
  border: 1px solid black;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
  gap: 25px;
}
.first-article h2 {
  font-size: 3.5rem;
  padding: 0;
  margin: 0;
}
.first-article p {
  text-align: center;
  font-size: 3rem;
}
.first-article button {
  background: none;
  border-style: none;
}
.first-article button {
  width: 20vh;
  padding: 20px;
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
  font-size: 1rem;
  transition-duration: 0.3s;
}
.first-article button:hover {
  transform: scale(1.1);
}
.first-article img {
  width: 40vw;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */