* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
  
body {
    margin: 0;
    padding: 0;
    background-color: #FFEFE7;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #ffe97c;
}
  
.container {
    width: 31.25em;
    height: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.dog {
    width: 16.25em;
    height: 6.25em;
    background-color: #ee9728;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: calc(50% + 3.12em);
    border-radius: 0 3.75em 0 6.25em;
}

.dog-bottom {
    position: absolute;
    width: 16.25em;
    height: 7.25em;
    background-color: #e97833;
    transform: translate(-50%, -50%);
    top: calc(50% + 1.25em);
    left: calc(50% + 3.12em);
    border-radius: 0 3.75em 0 6.25em;
}

.leg-1, .leg-3 {
    width: 2.5em;
    height: 3.43em;
    position: absolute;
    border-radius: 0 0 0 0.93em;
}
.leg-1 {
    left: 14.18em;
    /*top: 18.12em;*/
    top: 18em;
    background-color: #e55627;
}
.leg-3 {
    top: 5.62em;
    left: 5em;
    background-color: #ee9728;
}
.leg-1:before, 
.leg-1:after{
    position: absolute;
    content: "";
    background-color: #e55627;
}
.leg-3:before, 
.leg-3:after{
    position: absolute;
    content: "";
    background-color: #ee9728;
}
.leg-1:before, 
.leg-3:before {
    height: 0.37em;
    width: 1.5em;
    right: 0;
    bottom: -0.31em;
}
.leg-1:after, 
.leg-3:after {
    height: 1.25em;
    width: 2.5em;
    right: 0;
    bottom: -1.5em;
    border-radius: 1.25em 0 0 0 ;
}
.leg-2, .leg-4{
    width: 3.75em;
    height: 3.43em;
    position: absolute;
    border-radius: 0 0 0 2.18em;
}
.leg-2{
    background-color: #e55627;
    left: 21.56em;
    top: 18em;
}
.leg-4{
    background-color: #ee9728;
    left: 12.5em;
    top: 5.62em;
}
.leg-4:before, 
.leg-4:after{
    background-color: #ee9728;
    position: absolute;
    content: "";
}
.leg-2:before, 
.leg-2:after{
    background-color: #e55627;
    position: absolute;
    content: "";
}
.leg-2:before, 
.leg-4:before{
    height: 0.37em;
    width: 1.56em;
    right: 0;
    bottom: -0.31em;
}
.leg-2:after, 
.leg-4:after{
    height: 1.25em;
    width: 3.75em;
    right: 0;
    bottom: -1.5em;
    border-radius: 1.25em 0 0 0;
}

.tail{
    width: 1.25em;
    height: 7.5em;
    background-color: #e77d21;
    position: absolute;
    left: 25em;
    top: 8.75em;
    border-radius: 1.25em 0 0 0;
}

.neck{
    width: 6.25em;
    height: 1.90em;
    background-color: #ee9728;
    position: absolute;
    top: -1.87em;
}
.neck:before{
    position: absolute;
    content: "";
    width: 6.87em;
    height: 0.62em;
    background-color: #5184bf;
    border: 0.37em solid #2e5296;
    left: -0.62em;
    top: 0.62em;
}

.face{
    background-color: #ee9728;
    width: 10em;
    height: 4.37em;
    position: absolute;
    left: -3.75em;
    bottom: 7.81em;
    border-radius: 0 0 0 4.37em;
}
.face:before{
    position: absolute;
    content: "";
    width: 6.25em;
    height: 3.12em;
    background-color: #cd2126;
    border-radius: 0 0 3.12em 3.12em;
    right: 0;
}
.face:after{
    position: absolute;
    content: "";
    height: 0.93em;
    width: 1.87em;
    background-color: #000000;
    border-radius: 0 0 0.93em 0.93em;
    left: -0.43em;
}

.ear, 
.ear:after{
    position: absolute;
    width: 1.56em;
    height: 2.5em;
    border-radius: 1.56em 0 0 0;
}
.ear{
    position: absolute;
    background-color: #ee9728;
    bottom: 12.2em;
    right: 11.2em;
}
.ear:after{
    content: "";
    background-color: #cd2126;
    right: -1.2em;
}
.ear:before{
    position: absolute;
    content: "";
    height: 0.62em;
    width: 0.62em;
    background-color: #000000;
    border-radius: 50%;
    top: 3.12em;
    left: -1.25em;
}

@media screen and (min-width: 800px){
    .container{
        font-size: 1.2em;
    }
}