*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    /*font-family: ;*/
}

.container{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: 100px 200px;
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    row-gap: 15px; /*el espacio es entre filas o columnas, no deja espacio ni al inicio ni al final*/
    column-gap: 30px;
    grid-auto-flow: 40px;

    gap: 50px;/*espacio por igual*/
}
.item{
    border: 5px solid #00bcd4;
    font-size: 4rem;
}