$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiry-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;

$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5rem;

@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin buttonStyle{
    button{
        background: none;
        border-style: none;
    }
}



/*---*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    @include flex-center(row, space-between, center);
    color: $primary-text-color;
    padding: 15px;

    p{
        font-size: $paragraph-size;
        padding-left: 30px;
    }
    .icons{
        display: flex;
        gap: 15px;
        @include buttonStyle;
    }
}

article{
    width: auto;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    @include flex-center(row, space-between, center);

    .impact-section{
        /*display: flex;
        flex-direction: column;*/
        @include flex-center(column, space-evenly, flex-start);
        padding-top: 50px;
        gap: 25px;
    }

    h1{
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }
    p{
        font-size: $paragraph-size;
        /*padding-left: 30px;*/
    }
    @include buttonStyle;
    button{
        width: 20vh;
        padding: 20px;
        background-color: $quaternary-color;
        border-radius: 35px;
        color: white;
        font-size: 1rem;
        transition-duration: 0.3s;

        &:hover{
            transform: scale(1.1);
        }
    }

    img{
        width: 25vw;
        border-radius: 19px;
    }
}

section{
    width: 100%;
    height: auto;
    padding: 60px;

    h2{
        color: $primary-text-color;
        font-size: 2rem;
    }
    .healthcare{
        padding-bottom: 60px;
        h2{
            font-weight: 300;
            padding-bottom: 20px;
        }

        .card-section {
            @include flex-center(row, space-evenly, center);
            width: auto;
            height: auto;
            flex-wrap: wrap;
            column-gap: 200px;
            row-gap: 80px;
            padding: 100px;/**/
        }

        .product-card {
            width: 14vw;
            height: 480px;/**/
            /*height: 45vh;*/
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;

            .icon{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
            }

            .product-image{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;/**/

                img{
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
    
                }
            }
        }

    }

    .furniture{
        @extend .healthcare;
        .product-card{
            background-color: $tertiry-color;
            color: #ffffff;

        }
    }
}

.about-us{
    padding-bottom: 60px;
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .mission-section{
        @include flex-center(row, space-evenly, center);

        .earth{
            width: 30vw;
            display: flex;
            gap: 40px;
            color: #E86424;
            img{
                object-fit: contain;
            }
            p   {
                text-align: center;
                font-size: $paragraph-size;
                
            }
        }
    }
    .innovation{
        @extend .earth;
    }
    
}
.gallery{
    padding-bottom: 60px;
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .gallery-images{
        @include flex-center(row, space-between, center);
       img{
        width: 28vw;
        height: 45vh;
        object-fit: cover;
        border-radius: 16px;
        object-position: 5px 35%;
        &:hover{
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
       }
    }
}


footer {
    background-color: $quaternary-color;
    width: 100%;
    height: 250px;
}